SpeciesName: CO
Active: 0
AnalysisFreq: 1
AnalysisHour: 0
AnalysisMinute: 0
ForwardLooking: 0
FileTemplate: >>SWELL_RUNDIR<</jedi.inc.%y4%m2%d2.%h2z.nc
FileVarName: CO
FileVarUnit: v/v
UseObsHour: 0
ObsHourName: ana_hour
ApplyIncrement: 1
InStrat: 0
InTrop: 1
AnaFraction: 1.0
MaxChangeStrat: 0.0
MaxChangeTrop: -1.0
HasSpec2: 0
ErrorMode: 1
