VERSION: 1
EXPID:  >>>SWELL_GEOSCF_FORECAST_EXPID<<<
EXPDSC: JEDI
EXPSRC: GEOSgcm-v10.23.0+GEOSChem-14.0.0

COLLECTIONS:  '>>>SWELL_GEOSCF_FORECAST_COLLECTION<<<'
             ::

##################################################
# The GRID_LABELS section must be after the main #
#  list of COLLECTIONS for scripting purposes.   #
##################################################

GRID_LABELS:
::

  >>>SWELL_GEOSCF_FORECAST_COLLECTION<<<.template:  '>>>SWELL_GEOSCF_FORECAST_TEMPLATE<<<',
  >>>SWELL_GEOSCF_FORECAST_COLLECTION<<<.archive:   '%c/Y%y4',
  >>>SWELL_GEOSCF_FORECAST_COLLECTION<<<.format:    'CFIO',
  >>>SWELL_GEOSCF_FORECAST_COLLECTION<<<.mode:      'instantaneous' ,
  >>>SWELL_GEOSCF_FORECAST_COLLECTION<<<.frequency:  >>>SWELL_FC_OUTPUT_FREQ<<<,
  >>>SWELL_GEOSCF_FORECAST_COLLECTION<<<.ref_time:   000000,
  >>>SWELL_GEOSCF_FORECAST_COLLECTION<<<.fields:     'T'                       , 'DYN'           ,
                          'DELP'                    , 'DYN'           ,
                          'PS'                      , 'DYN'           ,
                          'Q'                       , 'MOIST'         , 'SPHU'  ,
                          'PHIS'                    , 'AGCM'          , 'phis'  ,
                          'SpeciesConc_O3'          , 'GEOSCHEMCHEM'  , 'O3'    ,
                          'SpeciesConc_NO'          , 'GEOSCHEMCHEM'  , 'NO'    ,
                          'SpeciesConc_NO2'         , 'GEOSCHEMCHEM'  , 'NO2'   ,
                          'SpeciesConc_CO'          , 'GEOSCHEMCHEM'  , 'CO'    ,
                          ::